---
title: Gîte de la Cure
---

%div.row#firstRow
  %div.large-7.columns#accroche
    %h2 La Famille Longeron vous accueille à l'auberge de la Cure de Maljasset depuis 1969. <br/> -- SITE EN COURS DE REALISATION --
  %div.large-5.columns  
    %div(class="section-container tabs" data-section="tabs")
      %section.section
        %p.title
          %a=1969
        %div.content
          %img(src="images/1969.jpg")
      %section.section
        %p.title
          %a=2013
        %div.content
          %img(src="images/hubert_et_klyte.jpg")


%div.row.sectionBox
  %div.row.sectionTitle#auberge
    %div.large-12.columns
      %div.shiftedLeft.firstBanderolle
        %h3= "L'auberge"

  %div.row.containing
    %div.large-11.columns.small-centered
      %h4= "Un gîte à 1900 mètres d'altitude."
      %p= "L'auberge de la Cure est un gîte d'étape ou de séjour en Haute-Ubaye, situé dans le village de Maljasset, le dernier hameau de St Paul en remontant la vallée de l'Ubaye, à environ 1900m d'altitude." "<br/>" "Nous sommes ouvert toute l'année et pouvons accueillir jusqu'à 26 personnes."
      %p= "Gîte de France depuis ????, l'auberge est également recommandée par le guide du routard depuis de nombreuses années."
  %div.row.containing
    %div.large-8.columns.small-centered
      %ul(data-orbit='coucou' data-options="timer_speed:2500; bullets:false;")
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption Devant l'auberge.
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption Notre panneau au milieu du village.
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption Vue des environs en été. Au fond, le Panestrel 3254 mètres.
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption La terrasse.
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption L'auberge en hivers.
  %div.row.containing#interieur
    %div.large-11.columns.small-centered
      %h4= "L'intérieur de l'auberge"
      %p= "(Ici, il faudrait peut être des informations sur le bâtiment, une petite histoire)"
  %div.row.lastRow.containing
    %div.large-8.columns.small-centered
      %ul(data-orbit='coucou')
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption &Agrave l'entrée
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption Notre panneau au milieu du village.
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption Vue des environs en été. Au fond, le Panestrel 3254 mètres.
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption L'auberge en hivers.

%div.row.separator

%div.row.sectionBox
  %div.row.sectionTitle#environnement
    %div.large-9.small-12.columns
      %div.shiftedLeft
        %h3= "L'environnement de l'auberge"

  %div.row#village
    %div.large-11.columns.small-centered
      %h4= "Le village de Maljasset"
    %div.large-6.columns
      %p= "(Ici il faudrait parler du village, chercher quelques éléments d'histoire (je n'en ai pas trouvé sur le net))"
    %div.large-6.columns.left
      %ul(data-orbit='')
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption L'entrée du village
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption la rue principale.
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption ...
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption L'église.
  %div.row.containing
    %div.small-10.columns.small-centered
      %ul(class="clearing-thumbs" data-clearing)
        %li
          %a(class="th" href="http://dummyimages.com/1300x900")
            %img(src="http://dummyimages.com/100x75")
        %li
          %a(class="th" href="http://dummyimages.com/1300x900")
            %img(src="http://dummyimages.com/100x75")
        %li
          %a(class="th" href="http://dummyimages.com/1300x900")
            %img(src="http://dummyimages.com/100x75")
        %li
          %a(class="th" href="http://dummyimages.com/1300x900")
            %img(src="http://dummyimages.com/100x75")

  %div.row.containing#region
    %div.large-11.columns.small-centered
      %h4= "La vallée de l'ubaye et le massif du Chambeyron"
    %div.large-6.columns
      %ul(data-orbit='coucou')
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption texte1
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption texte2
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption texte3
        %li
          %img{ :src => "http://dummyimages.com/1200x800" }
          %div.orbit-caption texte4
    %div.large-6.columns
      %p= "(Présentation du massif et de quelques montagnes)"

%div.row.separator

%div.row.sectionBox
  %div.row.sectionTitle#activites
    %div.large-12.columns
      %div.shiftedLeft
        %h3= "Loisirs et Activités"

  %div.row.containing
    %div.large-11.columns.small-centered
      %h4= "Nous saurons vous conseiller efficacement pour vos activités de montagne."
      %ul.padded
        %li= "Enclavée entre le Parc du Queyras (Col Girardin : Ceillac, Col de la Noire : St-Véran) et l'Italie (Col Longet : Chianale, Col de Mary : Chiappera), la Vallée de Maljasset-Maurin offre de très belles randonnées à pied, à ski ou en raquettes, vers les lacs de Marinet, du Roure ou du Longet ;"
        %li= "Une piste de ski de fond et raquettes tracée de 6km ;" 
        %li= "De l'escalade dans le massif de la Pierre-André et des Aiguilles de Chambeyron avec égakement deux écoles d'escalade à proximité ;" 
        %li= "Cascade de Glace, parcours VTT, pêche en torrent ou en lac de montagne." 
        %li= "Flore, faune et géologie exceptionnelle ;" 
        %li= "proximité du GR5, nombreux sentiers PR balisés."

%div.row.separator

%div.row.sectionBox
  %div.row.sectionTitle#informations
    %div.large-12.columns
      %div.shiftedLeft
        %h3= "Informations diverses"

  %div.row.containing#hebergement
    %div.large-11.columns.small-centered
      %h4= "Hébergement"
      %p= "Quatres dortoirs pour un total de 26 places:"
      %ul.padded 
        %li= "trois de six places avec sanitaires incorporés (douche w-c, lavabo)"
        %li= "un de huit places avec sanitaire independant"
      %p= "une salle à manger voûtee."
      %p= "une terrasse ensoleillee."

      %h4= "tarif 2013"
      %p= "Demi-pension (uniquement): 35-€ <br/> Incluant Repas du soir, Nuitée, douche, Petit Déjeuner et Taxe de Séjour (0,24 €)."
      %p= "Divers :" 
      %ul.padded
        %li= "Possibilité de vivres de courses pour une dépense de : 3 € à 8 €."
        %li= "Possibilité de transport sur la partie routiere du tour du chambeyron. exemple: Maljasset-Fouillouze : 30- €."

    %div.row.containing#meteo
    %div.large-11.columns.small-centered
      %h4= "Météo"
      %p= "Observateurs Météo depuis  42 ans et pratiquant régulièrement la montagne, demandez-nous les conditions du moment et les risques éventuels surtout en hiver, nous vous informerons avec la plus grande rigueur."
      %p= "Dernière MISE à JOUR du 28 mai 2013"
      %p= "Pour la saison  les conditions d'enneigement sont super le matin très tôt. La neige est transformée et il faut porter depuis Maljasset. Il y a encore trop de neige en altitude pour traverser les cols. La saison d'été va bientôt commencer et nous espérons de belles journées."
      %p= "Pour les questions relatives à la sécurité : téléphonez à Météo-France :  N°0836680205 ou meteo.fr"

    %div.row.containing#enneigement
    %div.large-11.columns.small-centered
      %h4= "Enneigement"
      %p= "La saison de randonnée à Ski ou raquettes est ouverte à compter du 26 Décembre jusqu'à mi-Avril. La saison d'été commence mi-Juin et finit autour du 15 Septembre. En dehors de ces périodes, nous consulter."

    %div.row.containing#acces
    %div.large-11.columns.small-centered
      %h4= "Accès au gîte"
      %p= "Depuis la gare SNCF de Gap (ligne Paris-Briançon), prenez le car de la SCAL à coté de la gare, jusqu' à Barcelonnette puis un Taxi.(36km) Eventuellement contactez-nous au cas où ce serait un jour de ravitaillement... Ou depuis la gare SNCF de Montdauphin en Taxi (47km)."
      %p= "Par la route : depuis Gap, il est préférable de passer par Barcelonnette (possibilité de location de matériel montagne) D900. Direction Col de Vars. A ST-PAUL/UBAYE, traversez le village et remontez la vallée jusqu'à MALJASSET, MAURIN-. 13 km de St-Paul. Parking à proximité."
      %p= "NB : En période hivernale n'hésitez pas à nous contacter pour connaître l'état de la route."

%div.row.separator

%div.row.sectionBox
  %div.row.sectionTitle#contact
    %div.large-12.columns
      %div.shiftedLeft
        %h3= "Contact et Réservation"

  %div.row.containing#reservation
    %div.large-11.columns.small-centered
      %h4= "Réservation"
      %p= "Téléphonez pour pré-réservation. réservation ferme après envoi de 10% d'arrhes (qui ne seront pas débitées avant votre passage), dont nous accuserons réception par retour."

    %div.row.containing#contact
    %div.large-11.columns.small-centered
      %h4= "Contactez nous"
      %p= "Hubert et Klyte LONGERON <br/> MALJASSET 04530 ST-PAUL SUR UBAYE <br/> Téléphone :00 33 (0)4 92 84 31 15 <br/> Télécopie :00 33 (0)4 92 84 34 87 <br/> E-mail : MALJASSET.GITE@YAHOO.FR <br/> Siret :4933586600018 A.P.E:552E ID <br/> TVA : Franchise art: 293 B CGI"

%div.footer
  %div.row.finRondin
